@import '~assets/images/trippy.png';

.container-fluid {
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 800px;
  width: 100%;
}

.back-drop {
  height: 800px;
  width: 100%;
}
