@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin inline {
  display: inline;
}

body {
  background-color: $yellow;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Cedarville Cursive", cursive;
  font-size: 16px;
  height: 100%;
  max-width: 920px;
  width: 100%;

  p {
    color: $white;
    font-size: 3em;
  }

  h1 {
    color: $white;
    font-size: 5em;
    font-weight: bolder;
  }

  form {
    color: $purple;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.center {
  margin: 0 auto;
}

.dark {
  color: $dark;
}

.block {
  display: block;
}

.size-alert {
  margin: 1.5em auto;
  text-align: center;
  width: 100%;
 }

.backdrop {
  @include border-radius(10px);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  margin: 75px auto 0;
  opacity: .9;
  padding: 0;
  // z-index: 1;
}

.overlay {
  @include border-radius(10px);
  background-color: $faded-purple;
  border: 5px solid $purple;
  color: $white;
  height: 100%;
  min-height: 500px;
  min-width: 500px;
  padding: 0;
  width: 100%;
}

.intro {
  @include inline;

  input {
    @include border-radius(10px);
    @include inline;
    background-color: $blue;
    font-size: 2.5em;
    text-align: center;

    &:hover {
      background-color: $yellow;
      color: $blue;
    }
  }
}

.sign-in {
  @include inline;
  text-align: center;
  width: 100%;
}

.new-game {
  color: $blue;
  text-align: center;
  width: 100%;
}

.nav {
  color: $white;
  position: absolute;
  top: 10px;

  li {
    @include border-radius(10px);
    @include inline;
    background-color: $faded-purple;
    border: 2px solid $white;
    margin-top: 1em;
    padding: 2em 2em 1em;


    &:hover {
      background-color: $blue;
      color: $yellow;
    }
  }
}
